<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspild - Gør Forskellen</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
        <h1> Danmark Mod Madspild </h1>

        <div th:if="${session.loggedIn} == null">
            <a href="/login">Login</a> | <a href="/opret">Opret</a>
        </div>

        <div th:if="${session.loggedIn}">
            <p>Velkommen, <span th:text="${session.brugernavn}">Bruger</span>!</p>
            <a href="/logout">Log ud</a>
        </div>
</header>

<main>
    <h2>Hvem er du?</h2>
        <h3> Vælg en af nedenstående </h3>

    <ul class="aktoer-genveje">
        <li><a href="/privatbruger">Privat bruger</a></li>
        <li><a href="/organisation">Organisation</a></li>
        <li><a href="/virksomhed">Virksomhed</a></li>
    </ul>
</main>

<footer>Copyright © DanmarkModMadspild ApS. All Rights Reserved.</footer>
</body>
</html>