<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspild - Gør Forskellen</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
    <div class="header-top">
        <h1> Danmark Mod Madspild </h1>
        <div class="id-links">
            <a href="login">Login</a>
            <a href="opret">Registrer</a>
        </div>
    </div>
    <p> Velkommen til xxx </p>
</header>
<main>
    <h2>xxx</h2>
        <h3> Vælg en af nedenstående </h3>

    <ul class="aktoer-genveje">
        <li><a href="privatbruger">Privat bruger</a></li>
        <li><a href="organisation">Organisation</a></li>
        <li><a href="virksomhed">Virksomhed</a></li>
    </ul>
</main>

<footer>Copyright © DanmarkModMadspild ApS. All Rights Reserved.</footer>
</body>
</html>