<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="opret">

<main class="opret-container">
    <h1>Registrer din konto</h1>
    <form action="/opret" method="post">
        <fieldset class="roller">
            <legend>Vælg brugerrolle:</legend>
            <label><input type="radio" id="privat" name="rolle" value="privatbruger" required> Privat bruger</label>
            <label><input type="radio" id="organisation" name="rolle" value="organisation" required> Organisation</label>
            <label><input type="radio" id="virksomhed" name="rolle" value="virksomhed" required> Virksomhed</label>
        </fieldset>

        <input type="text" id="brugernavn" name="brugernavn" placeholder="Brugernavn" required>
        <input type="password" id="adgangskode" name="adgangskode" placeholder="Adgangskode" required>

        <button type="submit">Registrer</button>
    </form>

    <p th:if="${besked}" th:text="${besked}"></p>

    <p>Har du allerede en konto? <a href="/login">Login her</a></p>
    <p><a href="/" class="tilbage">Tilbage til forsiden</a></p>
</main>

<footer>
    Copyright © DanmarkModMadspild ApS. All Rights Reserved.
</footer>

</body>
</html>