<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<main>
    <form action="/opret" method="post">
        <label for="opslag overskrift">Brugernavn</label>
        <input type="text" id="opslag overskrift" name="opslag" required>

        <label for="opslag info">Adgangskode</label>
        <input type="password" id="opslag info" name="info" required>

        <button type="submit">Slå op</button>
    </form>
    <p><a href="/">Tilbage til forsiden</a></p>
</main>
</body>
</html>