<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="opretevent">
<header>
  <h1>Danmark Mod Madspild</h1>
  <p>Opret event</p>
</header>

<main>
  <form action="/opret" method="post">
    <label for="opslag overskrift">Titel</label>
    <input type="text" id="opslag overskrift" name="opslag" required>

    <p></p><label for="event info">Beskrivelse af event</label>
    <input type="Opretevent" id="event info" name="info" required><p></p>

    <label for="antal maaltider">Antal produkter/måltider</label>
    <input type="Opretevent" id="antal maaltider" name="antal" required>

    <p></p> <label for="dato">Dato</label>
    <input type="Opretevent" id="dato" name="dato" required><p></p>

    <label for="tidspunkt">Tidspunkt</label>
    <input type="Opretevent" id="tidspunkt" name="tidspunkt" required>

  </form>
  <p></p><button type="submit">Slå op</button><p></p>


  <p><a href="/">Tilbage til forsiden</a></p>
</main>

<footer>
  Copyright © DanmarkModMadspild ApS. All Rights Reserved.
</footer>
</body>
</html>