<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="opretopslag">
<header>
    <h1>Danmark Mod Madspild</h1>
    <p>Opret produkt</p>
</header>

<main>
    <form action="/opret" method="post">
        <label for="opslag overskrift">Titel*</label>
        <input type="text" id="opslag overskrift" name="opslag" required>

        <p></p><label for="opslag info">Beskrivelse af produkt*</label>
        <input type="Opretopslag" id="opslag info" name="info" required><p></p>

        <label for="antal maaltider">Antal produkter/måltider*</label>
        <input type="Opretopslag" id="antal maaltider" name="antal" required>

       <p></p> <label for="dato">Dato*</label>
        <input type="Opretopslag" id="dato" name="dato" required><p></p>

        <label for="tidspunkt">Tidspunkt*</label>
        <input type="Opretopslag" id="tidspunkt" name="tidspunkt" required>

    </form>
        <p></p><button type="submit">Slå op</button><p></p>


    <p><a href="/">Tilbage til forsiden</a></p>
</main>
</body>
</html>