<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opslagstavle - Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Danmark Mod Madspild</h1>
<h2>Opslagstavle</h2>
<button>Filter</button>
<fieldset>
    <legend>Red et måltid</legend>
    Diamond Slice Blågårdsgade<br>
    2 slices<br>
    39kr<br>
    2/4 - 2025.
</fieldset>
<fieldset>
    <legend>Grønt og Gratis</legend>
    Økologiske æbler<br>
    2 Kilo<br>
    Gratis<br>
    2/4 - 2025.
</fieldset>

</body>
</html>