<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="organisation">

<main class="organisation-con">
<h1>Organisation side</h1>

    <ul class="links-genveje">
        <li><a href="Information om madspild">Information om madpsild</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="opret">Registrer</a></li>
    </ul>

<p><a href="/">Tilbage til forsiden</a></p>

</main>

</body>
</html>