<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisation - Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="organisation">

<header>
    <div th:if="${session.loggedIn} == null" class="auth-links">
        <a href="/login" class="btn">Login</a>
        <a href="/opret" class="btn">Opret</a>
    </div>

    <h1 class="title">Danmark Mod Madspild</h1>
</header>

<main>
    <h2>Organisation</h2>

    <div th:if="${session.loggedIn}" class="auth-links">
        <div class="profile-dropdown" onmouseover="toggleDropdown(true)" onmouseout="toggleDropdown(false)">
            <img src="/images/BrugerIcon.png" alt="Profile Icon" class="profile-icon">
            <div class="dropdown-content" id="dropdownMenu">
                <p>Velkommen, <span th:text="${session.brugernavn}">Bruger</span>!</p>
                <a href="/profile" class="btn-dropdown-profil">Profil</a>
                <a href="/logout" class="btn-logout">Log ud</a>
            </div>
        </div>
    </div>

    <script>

        function toggleDropdown(show) {
            var dropdown = document.getElementById('dropdownMenu');
            if (show) {
                dropdown.classList.add('show');
            } else {
                dropdown.classList.remove('show');
            }
        }
    </script>

    <div th:if="${session.loggedIn} == null">
        <h3>Vil du organisation lære at undgå madspild?</h3>
        <section class="rolle-valg">
            <a href="/organisationinfo" class="rolle-link">
                <img src="/images/Organisation%20-%20Tips%20til%20at%20undgå%20madspild.PNG" alt="Madspild Tips">
                <p>Sådan gør din organisation en forskel</p>
            </a>
        </section>
    </div>

    <div th:if="${session.loggedIn} and ${session.brugerType} == 'organisation'">
        <h3>Hvad vil I gerne?</h3>
        <section class="rolle-valg">
            <a href="/organisationinfo" class="rolle-link">
                <img src="/images/Organisation%20-%20Tips%20til%20at%20undgå%20madspild.PNG" alt="Madspild Tips">
                <p>Tips: Undgå madspild</p>
            </a>
            <a href="/opslagstavle" class="rolle-link">
                <img src="/images/Opslagstavle.png" alt="Opslagstavle">
                <p>Se opslagstavle</p>
            </a>
            <a href="/opretevent" class="rolle-link">
                <img src="/images/Organisation%20-%20Opret%20et%20event.PNG" alt="Event">
                <p>Opret et event</p>
            </a>
        </section>
    </div>

    <p><a href="/" class="back-to-home">Tilbage til forsiden</a></p>
</main>

<footer>
    Copyright © DanmarkModMadspild ApS. All Rights Reserved.
</footer>

</body>
</html>