<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organisation - Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="organisation">

<main class="organisation-con">
<h1>Organisation</h1>

    <h2>Vil din organisation være med til at mindske madspild?</h2>

    <ul class="links-genveje">
        <li><a href="organisationinfo">Information om madpsild</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="opret">Registrer</a></li>
        <li><a href="opretopslag">Opret opslag</a></li>
        <li><a href="opretevent">Opret event</a></li>
        <li><a href="opslagstavle">Se opslagstavle</a></li>
    </ul>

    <p><a href="/">Tilbage til forsiden</a></p>
</main>

</body>
</html>