<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="privatbruger">

<main class="privatbruger-con">
    <h1>Privat Bruger</h1>

    <h2>Undgå madspild og køb et måltid eller tilmeld dig gratis event!</h2>

    <ul class="links-genveje">
        <li><a href="privatinfo">Tips: Undgå madspild</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="opret">Registrer</a></li>
    </ul>

    <p><a href="/">Tilbage til forsiden</a></p>
</main>

</body>
</html>