<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virksomhed - Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="virksomhed">

<main class="virksomhed-con">
    <h1>Virksomhed</h1>

    <h2>Dóner overskudsmad eller samarbejd om madspild</h2>

    <ul class="links-genveje">
        <li><a href="virksomhedinfo">Sådan gør din virksomhed en forskel</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="opret">Registrer virksomhed</a></li>
        <li><a href="opretopslag">Opret opslag</a></li>
    </ul>

    <p><a href="/">Tilbage til forsiden</a></p>
</main>

</body>
</html>